{% extends "base.html.twig" %}

{% block title %} Welcome to platoform Students {% endblock %}

{% block body %}

<hr>
<div class="container">
    <div class="card " style="width: 28rem; margin: 0 auto">
        <div class="card-header">
            <h2 class="card-title text-center">Student page</h2>
        </div>
        <div class="card-body">
            <p> FirstName: <b>{{ student.FirstName }}</b> </p>
            <p> LastName: <b>{{ student.LastName }}</b> </p>
            <p> Num student:<b> {{ student.NumEtud }}</b> </p>
        </div>
    </div>
</div>
{% endblock %}